@tailwind base;
@tailwind components;
@tailwind utilities;

.scoredetail > ul {
  list-style: none;
  margin: auto 0;
  padding-left: 0;
}

.scoredetail > ul > li {
  height: 40px;
  padding-left: 5px;
  padding-top: 2%;
}

.scoredetail > ul > li:nth-child(even) {
  background-color: #0f172a;
}
