@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0 auto;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.scorelayout {
  display: flex;
  flex-direction: row;
}

.scoredisplay {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 50px;
}

.scorenotice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.25rem;
}

.addscore {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.refresh {
  width: 35%;
  margin-left: auto;
  height: 35px;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

.addscore > input {
  height: 2.1875rem;
  margin-bottom: 1.25rem;
  border: 2px solid black;
}

.scoresubmit {
  width: 30%;
  align-self: flex-end;
}

h1 {
  margin-bottom: 3.75rem;
  font-size: 50px;
}

.scoredetail {
  border: 2px solid black;
  margin-left: 20px;
}

.scoredetail > ul {
  list-style: none;
  margin: auto 0;
  padding-left: 0;
}

.scoredetail > ul > li {
  height: 35px;
  padding-left: 5px;
  padding-top: 4%;
}

.scoredetail > ul > li:nth-child(even) {
  background-color: #ddd;
}

hr {
  border: 2px solid black;
  height: 30px;
  width: 100%;
  background-color: #c1c1c1;
  margin-top: 5%;
}

button,
.scoresubmit {
  background-color: #f6f6f6;
}
